<div id="about-container">
  <div class="about-content">
    <p>
      Hi, nice to meet you.
    </p>
    <p>
      My name is Matthew and I'm a web developer from San Jose CA.
    </p>
    <p>
      Here's my business card...
    </p>
    <div class="business-card">
      <div class="business-card-title">
        MATTHEW SAMPSON
      </div>
      <div class="business-card-subtitle">
        Web Developer
      </div>
      <ul class="business-card-contact-info">
        <li>mbsampson89@gmail.com</li>
        <li>(408) 761 - 6118</li>
      </ul>
      <div class="business-card-footer">
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <i class="fa fa-github-square" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
