<div id="about-container">
  <div class="about-content">
    <%= image_tag('bitmoji.png') %>
    <div class="about-me-section">
      <p>Hi there, my name is Matthew.</p>
      <p>I'm a <span>Ruby on Rails developer</span>,
        avid rock climber, and <span>ardent learner</span> who
        loves fantasy novels, D&D, and his Steam collection.
      </p>
      <br />
    </div>
    <div class="about-link-blocks">
      <%= link_to 'https://www.linkedin.com/in/matthewbarrysampson' do %>
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      <% end %>
      <%= link_to 'https://steamcommunity.com/id/vallihn' do %>
        <i class="fa fa-steam-square" aria-hidden="true"></i>
      <% end %>
      <%= link_to 'https://github.com/MBSampson' do  %>
        <i class="fa fa-github" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
</div>
