<div id="about-container">
  <div class="about-content">
    <%= image_tag('bitmoji.png') %>
    <div>
      <span class="emphasis">H</span>i there! My name is Matthew and I'm an avid problem solver, rock climber, and
      technology geek. When I'm not bouldering at the gym or slaying demons with friends I enjoy reading fantasy novels,
      learning more about web design, and broadening my programming skill set.

      <div class="about-link-blocks">
        <%= link_to 'https://www.linkedin.com/in/matthewbarrysampson' do %>
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://steamcommunity.com/id/vallihn' do %>
          <i class="fa fa-steam-square" aria-hidden="true"></i>
        <% end %>
        <%= link_to 'https://github.com/MBSampson' do  %>
          <i class="fa fa-github" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>
