<div id="about-container">
  <div class="about-content">
    <p>
      Hi, nice to meet you.
    </p>
    <p>
      My name is Matthew and I'm a web developer from San Jose CA.
    </p>
    <div class="business-card">
      <div class="business-card-title">
        MATTHEW SAMPSON
      </div>
      <div class="business-card-subtitle">
        Web Developer
      </div>
      <ul class="business-card-contact-info">
        <li>
          <a href="mailto:mbsampson89@gmail.com">
            mbsampson89@gmail.com
          </a>
        </li>
        <li>(408) 761 - 6118</li>
      </ul>
      <div class="business-card-footer">
        <a href="https://www.linkedin.com/in/matthewbarrysampson" class="business-card-link">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/MBSampson?tab=repositories" class="business-card-link">
          <i class="fa fa-github-square" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>
