<div id="about-container" class="hide show">
  <div class="about-content">
    <p>Duis rhoncus magna vitae justo aliquam, vitae iaculis tortor mollis. Duis a tincidunt orci. Phasellus eros metus, finibus non lobortis faucibus, convallis sed purus. Maecenas ut massa gravida leo porta finibus.</p>
    <p>Curabitur in neque ut justo pulvinar pellentesque quis sit amet ipsum. Ut mollis pellentesque accumsan. Nulla semper pulvinar quam in pellentesque.</p>
  </div>
</div>
