<div id="about-container">
  <div class="comic-container">
    <div class="comic-title">
      <div>MATTHEW</div>
      <div class="comic-title-last-name">SAMPSON</div>
      <div class="comic-subtitle-left">
        <p>Front-End Developer vs. The Job Hunt</p>
      </div>
    </div>
    <div class="comic-number">1</div>
  </div>
</div>
