<div id="main-nav">
  <%= button_tag 'ABOUT', id: 'about-btn', class: 'selected' %>
  <%= button_tag 'EXPERIENCE', id: 'experience-btn' %>
  <%= button_tag 'PROJECTS', id: 'projects-btn' %>
  <%= link_to 'RESUME',
                 'https://github.com/MBSampson/resume/blob/master/MSampson%20Resume.pdf' %>
</div>
