<div class="main-nav">
  <%= link_to 'ABOUT', '#', class: 'black' %>
  <%= link_to 'EXPERIENCE', '#' %>
  <%= link_to 'PROJECTS', '#' %>
  <%= link_to 'RESUME',
              'https://github.com/MBSampson/resume/blob/master/MSampson%20Resume.pdf' %>
</div>
<hr>
