<div id="projects-container" class="row hide">
  <% @projects.each do |project| %>
    <div class="col-md-6">
      <div class="project-card <%= project.css_class %>">
        <div class="tag-header closed">
          <%= display_project_devicons(project) %>
        </div>
        <div class="project-footer text-center">
          <%= link_to project.title.upcase, project.link_address %>
        </div>
      </div>
    </div>
  <% end %>
</div>
