<h1 class="raleway-dots center mt2 mb2">
  msampson
</h1>

<%= render partial: 'shared/nav' %>

<div class="about-container">
  <div class="avatar-container">

  </div>
  <div class="about-content">

  </div>
</div>

<%= render partial: 'shared/experience' %>
<%= render partial: 'shared/projects' %>
