<h1 class="raleway-dots center mt2 mb2">
  msampson
</h1>

<%= render partial: 'shared/nav' %>

<div id="main-content">
  <%= render partial: 'shared/about' %>
  <%= render partial: 'shared/experience' %>
  <%= render partial: 'shared/projects' %>
</div>

