#about-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Lato', sans-serif;

  .about-content {
    font-size: 16px;
    margin: 0 15vh 5vh;

    img {
      border-radius: 40px;
      width: 125px;
      margin: 0 auto 20px;
      display: block;
    }

    .emphasis {
      color: #2d52a3;
      float: left;
      font-family: Georgia;
      font-size: 90px;
      line-height: 50px;
      padding: 20px 8px 0 0;
    }
  }

  .about-link-blocks {
    font-size: 30px;
    color: $royal-blue;
    text-align: center;
    margin-top: 15px;

    i {
      width: 19%;
      color: white;
    }

    i:nth-child(1) {
      background: orange;
    }

    i:nth-child(2) {
      background: purple;
    }

    i:nth-child(3) {
      background: blue;
    }

    i:nth-child(4) {
      background: green;
    }

    i:nth-child(5) {
      background: black;
    }
  }
}