#about-container {
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Lato', sans-serif;

  .about-content {
    font-size: 16px;
    margin: 0 15vh 5vh;

    img {
      border-radius: 40px;
      width: 125px;
      margin: 0 auto 40px;
      display: block;
    }
  }

  .about-link-blocks {
    font-size: 30px;

    a {
      margin: 0 1%;
      color: white;
      display: inline-block;
    }

    a:hover {
      text-decoration: none;
    }

    // LinkedIn
    a:nth-child(1) {
      color: $soft-blue;
    }

    // Steam
    a:nth-child(2) {
      color: $dark-grey;
    }

    // Github
    a:nth-child(3) {
      color: $soft-blue;
    }
  }
}