#about-container {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  .about-content {
    font-size: 14px;
    margin: 0 15vh 5vh;

    img {
      float: left;
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    .emphasis {
      color: #2d52a3;
      float: left;
      font-family: Georgia;
      font-size: 75px;
      line-height: 50px;
      padding: 9px 8px 0 0;
    }
  }
}