@import 'bootstrap';
@import 'font-awesome';
@import 'colors';
@import 'about';
@import 'projects';
@import 'experience';
@import 'nav';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  // background: $accented-white;
}

hr {
  box-shadow: 1px 1px 1px lightblue;
}

#main-content {
  position: relative;
}

#main-header {
  font-family: 'Raleway Dots', cursive;
  margin: 2vh 0 4vh;
  text-align: center;
  font-size: 3.5rem;
}

.clear {
  clear: both;
}

.emphasis {
  font-size: 1.2em;
}

.hide {
  opacity: 0;
  display: none;
}

.show {
  opacity: 1 !important;
}

.text-center {
  text-align: center;
}

.inline {
  display: inline-block;
}

.underline {
  text-decoration: underline;
}


/*** Mobile ***/

@media only screen and (max-width: 480px) {
  #main-header {
    font-size: 2.5rem;
  }

  #main-nav button, #main-nav a {
    width: 23.3%;
    font-size: 11px;
  }

  .container {
    min-width: 340px;
  }
}

@media only screen and (max-width: 1000px) {
  .about-content {
    font-size: 11px !important;
  }

  .experience-sidetitle {
    display: none !important;
  }

  .experience-title {
    font-size: 14px !important;
  }

  .experience-content {
    font-size: 11px !important;
  }

  .experience-item {
    margin: 0 1vh !important;
  }
}
