/*** Experience ***/
.experience-container {
  width: 600px;
  border: 1px solid black;
}

.experience-title {
  font-size: 14px;
}

.title-accent {
  font-size: 18px;
}

.date {
  float: right;
  font-size: 14px;
  margin-top: 4px;
}
