/*** Experience ***/
#experience-container {
  position: absolute;
  top: 0;

  .experience-item {
    width: 100%;
    margin: 25px auto;

    .experience-title {
      float: left;
      font-size: 18px;
      height: 20px;
    }

    .experience-sidetitle {
      float: right;
      display: inline-block;
      color: $soft-blue;
      font-size: 14px;
      height: 20px;
    }

    .experience-footer {
      float: right;
      font-size: 17px;
    }
  }
}

