/*** Projects ***/
#projects-container{
  position: absolute;
  top: 0;

  .project-card {
    width: 350px;
    height: 450px;

    border: 5px single $light-grey;
    position: relative;

    -webkit-filter: grayscale(100%);

    // Center for mobile
    margin: 10px auto;

    .project-title {
      position: absolute;
      top: 40%;
      width: 100%;
      text-align: center;
      color: $white;
      font-family: 'Raleway', sans-serif;
      font-size: 25px;
      background: rgba(0, 0, 0, 0.9);
    }

    .project-footer {
      width: 100%;
      text-align: right;
      position: absolute;
      bottom: 0;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $accented-white;
    }

    .tag-header {
      max-height: 50px;
      width: 100%;
      border-bottom: 1px solid white;
      background: $light-grey;
      text-align: center;
      background: black;

      overflow-y: hidden;

      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .closed {
      max-height: 0;
    }

    i {
      font-size: 30px;
      margin: 10px 15px;
      width: 25px;
      display: inline-block;
      color: white;
    }

    .project-card-btn {
      font-family: 'Raleway', sans-serif;
      position: absolute;
      bottom: 0px;
      left: 40%;

      color: white;
      background: black;
      cursor: pointer;
      //transition: 0.5s ease-in;
    }
  }
}

.non-grayscale {
  -webkit-filter: grayscale(0%) !important;
}

.moviegrumps {
  background-image: url('movie-seats.jpg') !important;
  background-position: center;
}

.adspace {
  background-image: url('warehouse-bg2.jpg');
}

.casadelsol {
  background-image: url('cds-bg.jpg');
}

.wowtome {
  background-image: url('wowtome-bg2.jpg');
  background-position: 48%;
  background-size: 150%;
  background-repeat: no-repeat;
}
