/*** Projects ***/
#projects-container{
  position: absolute;
  top: 0;

  .project-card {
    width: 275px;
    height: 425px;

    border: 5px single $light-grey;
    border-radius: 10px;
    position: relative;

    -webkit-filter: grayscale(100%);

    // Center for mobile
    margin: 0 auto 25px;

    .project-footer {
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      color: white;
      position: absolute;
      bottom: 10px;
      right: 25%;
      width: 50%;
      height: 30px;
      padding-top: 4px;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 5px;
    }

    a {
      color: $white;
    }

    a:hover {
      color: $accented-white;
    }

    .tag-header {
      max-height: 50px;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      background: rgba(0, 0, 0, 0.75);

      overflow-y: hidden;

      transition-property: all;
      transition-duration: .5s;
      transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    }

    .closed {
      max-height: 0;
    }

    i {
      font-size: 30px;
      margin: 10px 15px;
      width: 25px;
      display: inline-block;
      color: white;
    }

    .project-card-btn {
      font-family: 'Raleway', sans-serif;
      position: absolute;
      bottom: 0px;
      left: 40%;

      color: white;
      background: black;
      cursor: pointer;
      //transition: 0.5s ease-in;
    }
  }
}

.non-grayscale {
  -webkit-filter: grayscale(0%) !important;
}

.moviegrumps {
  background-image: url('movie-seats.jpg');
  background-position: center;
}

.adspace {
  background-image: url('warehouse-bg1.jpg');
}

.casadelsol {
  background-image: url('cds-bg.jpg');
}

.wowtome {
  background-image: url('wowtome-bg2.jpg');
  background-size: 101%;
  background-repeat: no-repeat;
}
